@import '../app/globals.css';

.analyticspagediv { 
  /* margin-top: 4rem; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  gap: 2rem;
  
}

.selectattemptdiv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bglight);
  width: 27rem;
  height: 4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.selectattemptheader {
  font-family: var(--txtfont);
  font-size: 1.3rem;
  font-weight: 600;  
}
.selectattemptdropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f4;
  width: 10rem;
  height: 2.25rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.selectattempttxt {
  font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight: 600; 
  color: #333333;
}
.dropdownicon {
  position: absolute;
  /* margin-top: 0.2rem; */
  /* margin-left: 0.5rem;  */
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  right: 0.75rem;
}
.firstrowanalytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 72rem;
  height: 30rem;
  gap: 2rem;
}
.scoresummarydiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bglight);
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.categoriesdiv {
  display: flex;
  flex-direction: column;

  background-color: var(--bglight);
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
  /* padding-left: 1rem; */
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.semidonut {
  --percentage : 60; 
  --fill: var(--decablue) ;
  margin-top: 2rem;
  width: 300px;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--txtfont);
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing : border-box;
  &:after{
    content: '';
    width: 300px;
    height: 300px;
    border:50px solid;
    border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation : fillAnimation 1s ease-in;
  }
}
.scoresummarybtm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 11rem;

}
.scoresummaryinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 11rem;
  gap: 1rem;
}
.scoresummaryinfotxt {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: var(--txtfont);
  color:	#6b6b6b;
}
.analyticscardheader {
  font-family: var(--txtfont);
  font-size: 1.3rem;
  font-weight: 600;  
  width: 13rem;
}
.cardheaderdiv {
  padding-left: 1.5rem;
  padding-top: 1rem;
  /* padding-bottom: rem; */
}
.categoriesgraphrow {
  margin-top: 1rem;
  /* background-color: pink; */
  /* height: 2rem; */
  width: 32rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.categoriesgraphlabel {
  margin: 0;
  font-family: var(--txtfont);
  font-size: 1.1rem;
  font-weight: 500; 
  width: 11rem;
}
.categoriesgraphbox {
  height: 1.5rem;
  width: 5rem;
  background-color: black;
}
.categoriesgraphoutline {
  width: 18rem;
  height: 1.5rem;
  border: 2px solid black;
  margin-left: 1rem;

}
.categoriesdivcontent {
  width: 33.5rem;
  height:25rem;
  overflow-y: auto;
  margin-top: 0.5rem;
}
.questionbreakdowndiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bglight);
  width: 72rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}
.questiontitle {
  margin-top: 0px;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: 500; 
  font-family: var(--txtfont);
}
.questioncontent {
  min-height: 6rem;
  max-height: 6rem;
  overflow-y: auto;
  font-size: 1.05rem;
  font-weight: 400;
  font-family: var(--txtfont);
  width: 30rem;
  margin-bottom: 0px;
}
.questionchoicediv {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5rem;
  width: 30rem;
  height: 3rem;
}
.questionchoiceltractive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
  border: 2px solid black;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 0.75rem;
  margin-right: 1rem;
  background-color: var(--decablue);
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--txtfont);
}
.answerchoicetxt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:scroll;
  
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--txtfont);
  color: black;
}
.questionchoiceltr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0.7rem;
  border: 2px solid black;
  min-width: 1.5rem;
  min-height: 1.5rem;
  border-radius: 0.75rem;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--txtfont);
}
.questionchoicesdiv {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: fit-content;
  margin-top: 1rem;
}
.questionpanel {
  
  display: flex;
  flex-direction: column;
  width: 30rem;
  height: 33rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.5rem;
  align-items: center;
}
.questionshadergreen {
  position: absolute;
  background-color: rgba(43, 255, 0, 0.455);
  border-radius: 0.5rem;
  width: 30rem;
  height: 3rem;
}
.questionshaderred {
  position: absolute;
  background-color: rgba(253, 76, 0, 0.455);
  border-radius: 0.5rem;
  width: 30rem;
  height: 3rem;
}
.questioncheckmark {
  position: absolute;
  right: 1rem;
  color: rgb(26, 156, 0);
}
.questionxmark {
  position: absolute;
  right: 1rem;
  color: rgba(236, 0, 0, 1);
}
.questionbreakdowncontent {
  display:flex;
  flex-direction: row;
  /* height: 32rem; */
  align-items: center;
}
.questionpaneldescription {
  width: 30rem;
  
}
.qpaneldescriptionheader {
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--txtfont);
}
.qpaneldescriptiontxt {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--txtfont);
}
.qpaneldescriptionsource {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--txtfont);
}
.questionmapdiv {
  position: absolute;
  width: 41rem;
  height: 28rem;
  background-color: var(--bglight);
  border: 1px solid #e0e0e0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05); 
  z-index: 11;
}
.questionmapgrid {
  display: grid;
  grid-template-columns: 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem 3rem;
  column-gap: 1rem;
  row-gap: 1rem;
  width: 39rem;
  height: 19rem;
  /* background-color: #ee0979; */
  margin-top: 1rem;
  margin-left: 1rem;
}
.questionboxdiv {
  width: 3rem;
  height: 3rem;
  /* background-color: blue; */
}
.questionmapheader {
  display: flex;
  align-items: center;
  font-family: var(--txtfont);
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-left: 1rem;
  margin-top: 0.8rem;
}

.questionboxdivcorrect{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--txtfont);
  font-size: 1.4rem;
  font-weight: 600;  
  background-color: #04cb2c;
  color: white;
  cursor: pointer;
  /* background-color: var(--decablue); */
}
.questionboxdivincorrect{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--txtfont);
  font-size: 1.4rem;
  font-weight: 600;  
  background-color: rgb(224, 37, 37);
  color: white;
  cursor: pointer;
  /* background-color: var(--decablue); */
}
.questionboxdivunanswered{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: var(--txtfont);
  font-size: 1.4rem;
  font-weight: 600;  
  background-color: #333333;
  color: white;
  cursor: pointer;
  /* background-color: var(--decablue); */
}
.questionmapbtm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
  width: 39rem;
  height:5rem;
  margin-left: 1rem;
  /* margin-top: 1rem; */
  gap: 1rem;
}
.blackdropbox {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding-left: 0.75rem;
  padding-right: 0.4rem;
  background-color: black;
  color: white;
  border: none;
  font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight:550; 
  border-radius: 4px;
  cursor: pointer;
}
.blackdropboxchevron {
  margin-left: 0.2rem;
}
.bluebtn {
  border: none;
  background-color: var(--decablue);
  height: 2.25rem;
  font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight:550; 
  border-radius: 1.125rem;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
  transition: transform 0.1s cubic-bezier(0.4,0,0.2,1);
}
.bluebtn:active {
  transform: scale(0.96);
}
.questionmapexit {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
.questionpanelbtmdiv {
  /* background-color: pink; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height:4.25rem;
  gap: 1rem;
}
.dropdownoptions {
  position: absolute;
  top: 2.5rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: var(--bglight);
  padding: 1rem 1rem 1rem 1rem;
}
.catOption:hover {
  cursor: pointer;
  background-color: var(--bg);
}
.catOption {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--txtfont);
  background-color: transparent;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
}
.totalDropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 1.5rem;

}