@import '../app/globals.css';

.analyticspagediv { 
  position: relative;
  padding-top: 1.5rem;
  padding-left: 22rem;
}

.selectattemptdiv {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bglight);
  width: 27rem;
  height: 4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.selectattemptheader {
  font-family: var(--txtfont);
  font-size: 1.3rem;
  font-weight: 600;  
}
.selectattemptdropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f4;
  width: 10rem;
  height: 2.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.selectattempttxt {
  font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight: 600; 
  color: #333333;
}
.dropdownicon {
  position: absolute;
  /* margin-top: 0.2rem; */
  /* margin-left: 0.5rem;  */
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  right: 0.75rem;
}
