@import '../app/globals.css';

.analyticspagediv { 
  position: relative;
  padding-top: 1.5rem;
  padding-left: 22rem;
}

.selectattemptdiv {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--bglight);
  width: 27rem;
  height: 4rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.selectattemptheader {
  font-family: var(--txtfont);
  font-size: 1.3rem;
  font-weight: 600;  
}
.selectattemptdropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f4;
  width: 10rem;
  height: 2.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.selectattempttxt {
  font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight: 600; 
  color: #333333;
}
.dropdownicon {
  position: absolute;
  /* margin-top: 0.2rem; */
  /* margin-left: 0.5rem;  */
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  right: 0.75rem;
}
.firstrowanalytics {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 72rem;
  height: 30rem;
  margin-top: 2rem;
  gap: 2rem;
}
.scoresummarydiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bglight);
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.categoriesdiv {
  background-color: var(--bglight);
  width: 35rem;
  height: 30rem;
  border-radius: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}
.semidonut {
  --percentage : 80; 
  --fill: var(--decablue) ;
  margin-top: 2rem;
  width: 300px;
  height: 150px;
  position: relative;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--txtfont);
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing : border-box;
  &:after{
    content: '';
    width: 300px;
    height: 300px;
    border:50px solid;
    border-color : rgba(0,0,0,0.15) rgba(0,0,0,0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing : border-box;
    transform: rotate( calc( 1deg * ( -45 + var(--percentage) * 1.8 ) ) );
    animation : fillAnimation 1s ease-in;
  }
}
.scoresummarybtm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.scoresummaryinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 9rem;
  gap: 1rem;
}
.scoresummaryinfotxt {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: var(--txtfont);
  color:	#6b6b6b;
}
.analyticscardheader {
  font-family: var(--txtfont);
  font-size: 1.3rem;
  font-weight: 600;  
}
.cardheaderdiv {
  padding-left: 1.5rem;
  padding-top: 1rem;
  /* padding-bottom: rem; */
}
