.analyticspagediv { 
  /* margin-top: 4rem; */
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  gap: 2rem;
  max-width: 100%;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
.filterbardiv {
  position: fixed;
  background-color: var(--bglight);
  top: 4rem;
  left:0rem;
  bottom: 0rem;
  width: 20rem;
  overflow-y: scroll; 
  overflow-x: hidden;
  border-right: 1px solid #e0e0e0;
  z-index: 5;
}
.filterbarheaderdiv {
  display: flex;
  align-items: center;
	justify-content: center;
	width: 100%;
	height: 3rem;
}
.filterbarheadertxt {
	font-family: var(--txtfont);
  font-size: 1.2rem;
  font-weight: 500; 
}
.selectfilterdropdown {
	position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f3f3f4;
  width: 10rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.selectfiltertxt {
	font-family: var(--txtfont);
  font-size: 0.9rem;
  font-weight: 600; 
  color: #333333;
}
.totalDropdown {
  /* position: absolute; */
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* right: 1rem; */
}
.dropdownicon {
  position: absolute;
  /* margin-top: 0.2rem; */
  /* margin-left: 0.5rem;  */
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  right: 0.75rem;
}
.filtersection {
  display: flex;
  align-items: center;
	justify-content: center;
	width: 100%;
	height: 3rem;
	border-bottom: 1px solid #e0e0e0;;
	padding-bottom: 1rem;
}
.dropdownoptions {
  position: absolute;
  top: 4rem;
  width: 13rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  background-color: var(--bglight);
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  z-index: 999;
	overflow-y: auto;    
  overflow-x: hidden; 
	max-height: 20rem;
}
.catOption:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 95%);
}
.catOption {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: var(--txtfont);
  background-color: transparent;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.4rem;
  border-radius: 6px;
}
.chosenfiltersdiv {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 100%;
	min-height: 2.5rem;
	margin-top: 0.5rem;
	margin-left: 0.5rem;
	
}
.filtercard {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f3f3f4;
	height: 2.5rem;
	border-radius: 5px;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	gap: 0.5rem;
	cursor: pointer;
}
.filtercardtxt {
	font-family: var(--txtfont);
	font-size: 1rem;
	font-weight: 500; 
}
