:root {
  --bgdark: hsl(0, 0%, 90%);
  --bg: hsl(0, 0%, 95%);
  --bglight: hsl(0, 0%, 100%);


  --txtdark: hsl(0, 0%, 5%);
  --txt: hsl(0, 0%, 30%);
  --txtlight:hsl(0, 0%, 50%);

  --txtfont: 'Segoe UI', Arial, sans-serif;
}



