@import '../globals.css';

.header {
  position: absolute;
  display:flex;
  flex-direction: row;
  align-items: center;
  /* background-color: #0057B7; */
  height: 4rem;
  width: 100%;
  /* border-bottom-width: 1px;
  border-bottom-color: var(--txtlight);
  border-bottom-style: solid; */
}
.headerlogo {
  height:2.5rem;
  width: 2.5rem;
  margin-left: 1rem;
}
.headerlogotext {
  margin-left: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--txtfont);
}
.signupcontainer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}
.signupformdiv {
  border: 1px solid hsl(0, 0%, 85%);
  width: 24rem;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.06), 0 1px 3px 0 rgba(0, 0, 0, 0.05);
  height: 34rem;
  background-color: var(--bglight);
  padding: 0.3rem 3rem 0 3rem; 
  border-radius: 5px;
}
.signupformtitle {
  color: var(--txtdark);
  font-family: var(--txtfont);
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0px;
}
.signupforminput {
  display: block;
  width: 100%;
  height:2.75rem;
  margin-top: 1.5rem;
  box-sizing: border-box; 
  outline: none;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  padding-left: 1rem;
  color: var(--txt);
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
}
.signupforminputtop{
  margin-top: 2.25rem;
}
.signupformsubmit {
  width: 100%;
  margin-top: 3.5rem;
  height: 2.75rem;
  background: linear-gradient(90deg, #0057B7 0%, #2196F3 100%);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.2s;
  /* box-shadow: 0 2px 8px 0 rgba(0, 87, 183, 0.15); */
}
.signupgooglebtn {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1.5rem;
  height: 2.75rem;
  color: #fff;
  border: 1px solid hsl(0, 0%, 85%);
  border-radius: 5px;
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--bglight);
}
.signupgooglebtn:hover {
  background-color: var(--bg);
}
.signupgooglelogo {
  width: 2rem;
  height: 2rem;
  
}
.signupgoogletxt {
  margin-left: 0.25rem;
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  color:var(--txtdark);
  
}
.signupformswitch {
  text-align: center;
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  color:var(--txt);
  margin-top: 2rem;
}
.signupformloginlnk {
  margin-left: 0.5rem;
}
.signupformforgot {
  display:block;
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1rem;
}
.signupformsubtitle {
  display:block;
  font-family: var(--txtfont);
  font-size: 1.1rem;
  font-weight: 600;
  color:var(--txt);
  margin: 0px;
  margin-top: 0.75rem;
}
.signuperrbar {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  font-family: var(--txtfont);
  font-size: 1rem;
  font-weight: 600;
  color:var(--txt);
  width: fit-content;
  padding-left: 4rem;
  padding-right: 2rem;
  height: 3rem;
  color: white;
  background-color: red;
  border-radius: 5px;
  
}
.closeerrbtn {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  left: 0.5rem;
}

